/*---------------- Kya Logo Font Review --------------------*/

// Webfont Reference

@import url('http://fonts.googleapis.com/css?family=Raleway:400,700|Montserrat:400,700|Open+Sans:400italic,700italic,400,700');

@import url('http://fonts.googleapis.com/css?family=Alfa+Slab+One|Nixie+One|Arbutus+Slab|Noto+Sans|Cabin|Fauna+One|ABeeZee|Oldenburg|Syncopate|Molle:400italic|Wendy+One|Kameron|Copse|Muli|Candal|Merienda+One|Fjalla+One|Signika|Kaushan+Script|Enriqueta|Damion|Allerta+Stencil|Volkhov|Trocchi|Sansita+One|Alice|Ultra|Quando|Capriola|Expletus+Sans');

$kya-green: #2d912d;

.main-content.review {
	padding: 0;
	h1 {
		background-color: white;
		border: 1px solid #DDD;
		color: $kya-green;
		font-size: 3.5em;
		line-height: normal;
		margin: 30px auto;
		padding: 15px;
		position: relative;
		text-align: center;
		vertical-align: top;
		width: 85%;
		z-index: 1;
		&:before {
			//font: 14px arial;
			background: #DDD;
			color: white;
			font-size: 14px;
			position: absolute;
			padding: 7px 10px 15px 18px;
			top:0;
			right:0;
			text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
			z-index: 0;
			border-radius: 0 0 0 100px;
		}
		span {
			display: block;
			margin: 15px 0;
		}
		span:last-child {
			&:after {
				color: #444;
				display: block;
				font: 14px arial;
				margin-top: 25px;
			}
		}
		em {font-style: normal;}
		@media (min-width: $break-lg-phone) {font-size: 2em;}
	}
	.logo-review {
		font-family: arial;
		h1 {
			margin-bottom: 20%;
			&:before {
				color: #777;
				font-size: 14px;
				font-weight: bold;
				text-shadow: none;
			}
			&:last-child {margin-bottom: 30px;}
			@media (min-width: $break-lg-phone) {margin-bottom: 15%;}
		}
		h1:nth-child(1) { &:before {content: '1';} }
		h1:nth-child(2) { &:before {content: '1.1';} }
		h1:nth-child(3) { &:before {content: '2';} }
		h1:nth-child(4) { &:before {content: '2.1';} }
		h1:nth-child(5) { &:before {content: '3';} }
		h1:nth-child(6) { &:before {content: '3.1';} }
		h1:nth-child(7) { &:before {content: '3.1.1';} }
		h1:nth-child(8) { &:before {content: '3.2';} }
	}
}

.f1 {
	font-family: 'Alfa Slab One', cursive;
	&:before {content: '1';}
	span:last-child {
		font-size: 80px;
		&:after {content:'[ Alfa Slab One ]'}
	}
}
.f2 {
	font-family: 'Arbutus Slab', serif;
	&:before {content: '2';}
	span:last-child {
		&:after {content:'[ Arbutus Slab ]'}
	}
}
.f3 {
	font-family: 'Molle', cursive;
	font-size: 75px !important;
	font-style: italic;
	&:before {content: '3';}
	span:last-child {
		&:after {content:'[ Molle ]'}
	}
}

.f4 {
	font-family: 'Candal', sans-serif;
	font-size: 65px !important;
	&:before {content: '4';}
	span:last-child {
		&:after {content:'[ Candal ]'}
	}
}
.f5 {
	font-family: 'Enriqueta', serif;
	&:before {content: '5';}
	span:last-child {
		&:after {content:'[ Enriqueta ]'}
	}
}

.f6 {
	font-family: 'Allerta Stencil', sans-serif;
	&:before {content: '6';}
	span:last-child {
		&:after {content:'[ Allerta Stencil ]'}
	}
}

.f7 {
	font-family: 'Trocchi', serif;
	&:before {content: '7';}
	span:last-child {
		&:after {content:'[ Trocchi ]'}
	}
}

.f8 {
	font-family: 'Alice', serif;
	&:before {content: '8';}
	span:last-child {
		&:after {content:'[ Alice ]'}
	}
}
.f9 {
	font-family: 'Ultra', serif;
	&:before {content: '9';}
	span:last-child {
		&:after {content:'[ Ultra ]'}
	}
}
.f10 {
	font-family: 'Quando', serif;
	&:before {content: '10';}
	span:last-child {
		&:after {content:'[ Quando ]'}
	}
}
.f11 {
	font-family: 'Capriola', sans-serif;
	&:before {content: '11';}
	span:last-child {
		&:after {content:'[ Capriola ]'}
	}
}
.f12 {
	font-family: 'Expletus Sans', cursive;
	&:before {content: '12';}
	span:last-child {
		&:after {content:'[ Expletus Sans ]'}
	}
}


/*
.f5 {font-family: 'Cabin', sans-serif;}
.f6 {font-family: 'Fauna One', serif;}
.f7 {font-family: 'ABeeZee', sans-serif;}
.f8 {font-family: 'Oldenburg', cursive;}
.f9 {font-family: 'Syncopate', sans-serif;}
.f11 {font-family: 'Wendy One', sans-serif;}
.f12 {font-family: 'Kameron', serif;}
.f13 {font-family: 'Copse', serif;}
.f14 {font-family: 'Muli', sans-serif;}

.f16 {font-family: 'Merienda One', cursive;}
.f17 {font-family: 'Fjalla One', sans-serif;}
.f18 {font-family: 'Signika', sans-serif;}
.f19 {font-family: 'Kaushan Script', cursive;}
*/